body {
    font-family: Arial, sans-serif;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    /* height: 400px; */
    background-color: #fffffff1;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
input[type="password"]{
    box-shadow: 0px 4px 5px rgba(199, 199, 199, 0.61);
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #0c74e3;
    box-shadow: 5px 5px 10px rgb(158, 158, 158);
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button#sign-up{
    margin-top: 15px;
}

button:hover {
    background-color: #0c74e3;
}

.forgot-password {
    margin-top: 15px;
}

.forgot-password a {
    color: black;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}