body{
    height: 200vh;
    margin: 0;
    padding: 0;
    background-color: #212121;
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    ::selection {
        color: rgb(255, 255, 255);
        background: rgb(251, 121, 0);
      }
}

.outerrrr{
    height: 100vh;
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #181818;
}

a{
    font-size: 18px;
    font-weight: 600;
    margin: 80px;
    color: rgb(251, 121, 0);
    text-decoration: none;
}

li{
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.home_div{
    margin-top: 10%;
    ::selection {
        color: rgb(255, 255, 255);
        background: rgb(251, 121, 0);
      }
}

.home_text{
    color: rgb(251, 121, 0);
    text-align:center;
    font-size: 100px;
}

.text_div{
    margin-top: -80px;

}

.Text{
    color: rgb(255, 255, 255);
    text-align:center;
    font-size: 40px;
}




.sidebar{
    position: fixed;
    top: 150px;
    left: 20px;
    border-radius: 18px;
    background-color: rgb(251, 121, 0);
    width: 65px;
    height: 250px;
}

.inner_sidebar{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.home{
    width: 35px;
    height: 35px;
}

.search{
    width: 28px;
    height: 28px;
}

.user{
    width: 40px;
    height: 40px;
}

.insta{
    width: 30px;
    height: 30px;
}