.table{
    border: solid;
    border-color: black;
    border-width: 1px;
    border-collapse: collapse;
}
th, td{
    border: solid;
    border-color: black;
    border-width: 1px;
    padding: 10px;
    text-align: left;
}

